<style type="text/css">
.umamiForm{
	padding : 10px 0 10px 90px !important;
}

.umamiForm table tbody tr td{
	padding: 6px 0px !important;
}

.umamiForm input[type="text"], .umamiForm input[type="password"]{
	border: 1px solid #799DBE !important;
	font: 14px Arial,Helvetica,Verdana,sans-serif !important;
	padding: 6px 1px !important;
	width: 220px;
	color: #666;
	background: #fff !important;
}

.umamiForm label{	
	font: 14px Arial,Helvetica,Verdana,sans-serif !important;
	color: #888;
	padding: 0 0 2px;
	font-weight: bold !important;	
}
</style>