.portlet-body{
	background-color:#000 !important;
	margin:0px !important;
	padding:0px !important;
}

#container {
    cursor: default;
    margin: 0 auto;
    text-align: left;
    width: 1000px;
}

.bigBgCenter{
	width:1000px;
}

.hRCareDoc{
	width:1000px;
	height:140px;
}

.videoBox{
	background-color:#666;
	width:238px;
	height:140px;
	float:left;
	-khtml-border-radius: 8px 8px 8px 8px ;
	-ms-border-radius: 8px 8px 8px 8px ;
	-o-border-radius: 8px 8px 8px 8px ;
	-moz-border-radius: 8px 8px 8px 8px ;
	-webkit-border-radius: 8px 8px 8px 8px ;
	border-radius: 8px 8px 8px 8px ;
}

.hRCareDocBox{
	background-image:url(../images/reg_oc_bg.jpg);
	background-repeat:repeat-x;
	width:750px;
	height:140px;
	float:left;
	margin-left:10px;
	-khtml-border-radius: 8px 8px 8px 8px ;
	-ms-border-radius: 8px 8px 8px 8px ;
	-o-border-radius: 8px 8px 8px 8px ;
	-moz-border-radius: 8px 8px 8px 8px ;
	-webkit-border-radius: 8px 8px 8px 8px ;
	border-radius: 8px 8px 8px 8px ;
	border:1px solid #CCC;
}

.regPatientImg{
	background-image:url(../images/Patient.png);
	background-repeat:no-repeat;
	width:162px;
	height:140px;
	float:left;
	-khtml-border-radius: 8px 8px 8px 8px ;
	-ms-border-radius: 8px 8px 8px 8px ;
	-o-border-radius: 8px 8px 8px 8px ;
	-moz-border-radius: 8px 8px 8px 8px ;
	-webkit-border-radius: 8px 8px 8px 8px ;
	border-radius: 8px 8px 8px 8px ;
	float:left;
}

.regDocText{
	font-family:Arial, aa smooth;
	font-size:24px;
	color:#e1e8d4;
	font-weight:bold;
	float:left;
	vertical-align:middle;
	text-align:center;
	margin:60px 0px 0px 25px;
}

.ourImgBox{
	width:1000px;
	height:204px;
	margin:20px auto;
}

.hairSolutions{
	background-image:url(../images/hair_img.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:199px;
	float:left;
}

.cosmeticSolutions{
	background-image:url(../images/cosetic_img.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:199px;
	margin-left:26px;
	float:left;
}

.ayurvedicSolutions{
	background-image:url(../images/ayu_img.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:199px;
	margin-left:25px;
	float:left;
}

.dentalSolutions{
	background-image:url(../images/den_img.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:199px;
	margin-left:25px;
	float:left;
}

.EffectivImg{
	background-image:url(../images/trans_bg.png);
	background-repeat:no-repeat;
	position:relative;
	width:231px;
	height:45px;
	float:left;
	top:153px;
}

.EffectivImgText{
	font-family:Arial, aa smooth;
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	margin-top:15px;
	vertical-align:middle;
	text-align:center;
	text-shadow: black 0.2em 0.1em 0.3em;
}

.regPatientlbox{
	width:665px;
	margin:20px auto;
}

.regPatientFieldBox{
	width:665px;
	height:35px;
}

.regFieldText{
	font-family:Arial, aa smooth;
	font-size:12px;
	color:#FFF;
	float:left;
	padding-top:10px;
}

.fieldIpu{
	width:180px;
	height:24px;
	border: 0 solid #FFFFFF;
	-khtml-border-radius:2px ;
	-ms-border-radius: 2px ;
	-o-border-radius: 2px ;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	float:right;
}

.regPatientSubmitBtn{
	background-image:url(../images/submit_buton.png);
	background-repeat:repeat-x;
	width:180px;
	height:31px;
	-khtml-border-radius: 4px ;
	-ms-border-radius: 4px ;
	-o-border-radius: 4px ;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	margin:10px 0 0px 215px;
}

.regPatientSubmitBtnText{
	font-family:Arial, aa smooth;
	font-size:14px;
	color:#FFF;
	text-align:center;
	vertical-align:middle;
	padding-top:7px;
	font-weight:bold;
}

.regFieldFirstName{
	width:395px;
	height:35px;
	float:left;
}